@{
    ViewData["Title"] = "Calculator";
}

@model CalculatorModel;

<div style="display:flex; flex-direction:column; align-content:center; justify-content:center;">
    <div style="text-align:center;">
        <h3>Calculate Your Final Grade!</h3>
        <p class="instructions">Please enter the percent you received for each category below as a number and without the percent sign (ie 20.5):</p>
        <form class="calculator" method="post">
            <label>Assignments: </label>
            <input class="gradeInput" type="text" asp-for="Assignments" id="assignments">
            <br />

            <label>Group Projects: </label>
            <input class="gradeInput" type="text" asp-for="GroupProjects" id="gprojects">
            <br />

            <label>Quizzes: </label>
            <input class="gradeInput" type="text" asp-for="Quizzes" id="quizzes">
            <br />

            <label>Exams: </label>
            <input class="gradeInput" type="text" asp-for="Exams" id="exams">
            <br />

            <label>INTEX: </label>
            <input class="gradeInput" type="text" asp-for="Intex" id="intex">
            <br /><br />

            <input class="submitter btn" id="btnsend" type="button" value="Click Here to run Calculator" />
            <input class="submitter btn" id="btnsend" type="submit" value="Submit" />
            <br />
        </form>
    </div>
    <div class="outputCont">
        <div class="card">
            <h3>Your Final Percentage:</h3>
            <p id="perc"></p>
        </div>
        <div class="card">
            <h3>Your Letter Grade:</h3>
            <p id="letter"></p>
        </div>
    </div>
</div>