@{
    ViewData["Title"] = "My First Website";
}

@*style="display:flex; align-items:center; justify-content:center;"*@

    <div class="cont">
        <h1 class="titley">Josh Gardner</h1>
        <img src="img/fam.jpg" />
        <p class="caption">This is my family in Hawaii, and I definitely love going there</p>
        <p>
            In IS 413 I hope to continue to build my understanding of how the different pieces of web
            development work together and I'm hoping that by using a more complex environment I'll be
            able to have more chances to see the different pieces interacting. I'm also excited to learn
            another language.
        </p>
        <br />

        <h2>My Top 3 Jobs</h2>
        <ol>
            <li>Something with a connection to healthcare, maybe working with the Internet of Things?</li>
            <li>A Developer</li>
            <li>Run my own software developing/consulting business that allows me to help people</li>
        </ol>
        <br />

        <!--end of body-->
    </div>

